<!-- Header -->
<h1>Genres</h1>

<!-- Genre cards -->
<div class="row">
  <ng-container *ngFor="let genre of genresArray">
    <div class="col-12">
      <div class="genre-section" (click)="viewGenre(genre)">
        <div class="genre-title">{{ genre.name }} <div class="genre-title-game-count">{{ genre.games_count }} games</div></div>
        <div class="row">
            <div class="col-6" *ngFor="let game of genre.games">
                <div (click)="viewGame(game)" class="game-item">{{ game.name }}</div>
            </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>