<!-- Header -->
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-text">RAWG API</div>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-4">
        <div class="footer-logo">
          <div class="footer-headline">RAWG API</div>
        </div>
      </div>

      <!-- Menu -->
      <div class="col-4">
        <div class="footer-menu">
          <div class="footer-menu-header">Browse By</div>
          <ul class="footer-menu-list">
            <li><a [routerLink]="['/home']">Game</a></li>
            <li><a [routerLink]="['/genre']">Genre</a></li>
            <li><a [routerLink]="['/platform']">Platform</a></li>
            <li><a [routerLink]="['/publisher']">Publisher</a></li>
            <li><a [routerLink]="['/developer']">Developer</a></li>
            <li><a [routerLink]="['/store']">Store</a></li>
            <li><a [routerLink]="['/tag']">Tag</a></li>
          </ul>
        </div>
      </div>

      <!-- Menu -->
      <div class="col-4">
        <div class="footer-menu">
          <div class="footer-menu-header">Support</div>
          <ul class="footer-menu-list">
            <li><a href="https://github.com/jdotnguyen" target="_blank">Github</a></li>
            <li><a href="https://www.linkedin.com/in/justin-nguyen-7a054159/" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>