/* Header */
.header {
  padding: 40px;
  background-color: #ef3636;
}

.header-text {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

/* Content */
.content {
    padding: 30px 0 180px;
}

/* Footer */
.footer {
  padding: 60px;
  background-color: #404040;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}