/* Header */
.header {
  padding: 30px;
  background-color: #ef3636;
  box-shadow: 0 1px 2px #cccccc;
  
  .header-text {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
  }
}

/* Content */
.content {
    padding: 30px 0 180px;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #404040;

  .footer-headline, .footer-menu-header {
    color:#ffffff;
    text-transform:uppercase;
    font-weight:bold;
  }

  .footer-headline {
    font-size:24px;
  }

  .footer-menu-list {
    list-style:none;
    padding:0;

    li {
      a {
        color:#ffffff;
        text-decoration:none;
        transition-duration: 0.4s;

        &:hover {
          color:#aaa;
        }
      }
    }
  }
}