<!-- Header -->
<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-text">RAWG API</div>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-4">
        <div class="footer-logo">
          <div class="footer-headline">RAWG API</div>
        </div>
      </div>

      <!-- Menu -->
      <div class="col-4">
        <div class="footer-menu">

        </div>
      </div>
    </div>
  </div>
</div>